<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nests
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="createNest()"
      >
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centered-limited-width ion-text-center">
    <div *ngIf="!nests?.length">
      No Nests
    </div>
    <ion-list *ngIf="nests?.length">
      <ion-item
        *ngFor="let item of nests"
      >
        <ion-label>
          {{item.content}}
          <p>
            {{item.nest.content}}
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
