<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{blogPost?.title}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="createBlogPostComment()"
      >
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centered-limited-width ion-text-center">
    <div *ngIf="!comments?.length">
      No Posts
    </div>
    <ion-list *ngIf="comments?.length">
      <ion-item
        *ngFor="let item of comments"
      >
        <p>{{item.content}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
