<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{blog?.name}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="createBlogPost()"
      >
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centered-limited-width ion-text-center">
    <div *ngIf="!posts?.length">
      No Posts
    </div>
    <ion-list *ngIf="posts?.length">
      <ion-item
        *ngFor="let item of posts"
        [button]="true"
        [detail]="true"
        (click)="navigate(item)"
      >
        <p>{{item.title}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
